<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Spanish words</title>
  </head>
  <body>
    <h1>Practice Spanish Words!</h1>
    <p>Of the 100 most common words in spanish, how many do you want to practice?</p>
    <div style="text-align:center;">
      <input type="number" id="numberOfWords"></br>
      <input type="submit" id="submit">
      <div id="word">
      </div>
    </div>


  </body>
</html>
