<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% words.forEach(function(s) { %>
      <p>
        <%= s.word %>
      </p>
      <% }); %>
  </body>
</html>
